// 主色
// $main-bg: 
$darkestBlack: #313131; 

// 輔助色
// 訊息框
$msg-bg-color: #4b4b4b;
$msg-header-mg: 0 15px;
$msg-brd-btm: 1px solid #808080;
$msg-brd-radius: 30px;
$msg-title-color: #FFDE39;
$msg-text-color: #FFDE39;
